<div class="alert alert-block alert-info" style="background-color: #301E40; border: 0px; -moz-border-radius: 10px; -webkit-border-radius: 10px;">
<br/><br/>
<h1 style="font-size: 45px; color: white; align: center;"><center>
<img src="https://raw.githubusercontent.com/HumbleData/beginners-data-workshop/master/media/humble-data-logo-white-transparent.png" width="250px" /><br/><br/>
Data Analysis with Pandas
</center></h1>
</div>

> ***Note***: This notebook contains solution cells with ***a*** solution. Remember there is not only one solution to a problem!  
>
> You will recognise these cells as they start with **# %**.  
>
> If you would like to see the solution, you will have to remove the **#** (which can be done by using **Ctrl** and **?**) and run the cell. If you want to run the solution code, you will have to run the cell again.

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Data analysis packages
</h2><br>
</div>

Data Scientists use a wide variety of libraries in Python that make working with data significantly easier. Those libraries primarily consist of:

| Package | Description |
| -- | -- |
| `NumPy` | Numerical calculations - does all the heavy lifting by passing out to C subroutines. This means you get _both_ the productivity of Python, _and_ the computational power of C. Best of both worlds! |
| `SciPy` | Scientific computing, statistic tests, and much more! |
| `pandas` | Your data manipulation swiss army knife. You'll likely see pandas used in any PyData demo! pandas is built on top of NumPy, so it's **fast**. |
| `matplotlib` | An old but powerful data visualisation package, inspired by Matlab. |
| `Seaborn` | A newer and easy-to-use but limited data visualisation package, built on top of matplotlib. |
| `scikit-learn` | Your one-stop machine learning shop! Classification, regression, clustering, dimensional reduction and more. |
| `nltk` and `spacy` | nltk = natural language processing toolkit; spacy is a newer package for natural language processing but very easy to use. |
| `statsmodels` | Statistical tests, time series forecasting and more. The "model formula" interface will be familiar to R users. |
| `requests` and `Beautiful Soup` | `requests` + `Beautiful Soup` = great combination for building web scrapers. |
| `Jupyter` | Jupyter itself is a package too. See the latest version at https://pypi.org/project/jupyter/, and upgrade with e.g. `conda install jupyter==1.0.0` |

Though there are countless others available.

For today, we'll primarily focus ourselves around the library that is 99% of our work: `pandas`. Pandas is built on top of the speed and power of NumPy.

In [2]:
!git clone https://github.com/HumbleData/beginners-data-workshop.git

Cloning into 'beginners-data-workshop'...
remote: Enumerating objects: 984, done.
remote: Counting objects: 100% (235/235), done.
remote: Compressing objects: 100% (97/97), done.
remote: Total 984 (delta 177), reused 143 (delta 138), pack-reused 749 (from 3)
Receiving objects: 100% (984/984), 4.61 MiB | 21.45 MiB/s, done.
Resolving deltas: 100% (433/433), done.

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Imports
</h2><br>
</div>

In [3]:
import pandas as pd

>Import numpy using the convention seen at the end of the first notebook.

In [4]:
import numpy as np

In [6]:
!cat solutions/02_01.py

cat: solutions/02_01.py: No such file or directory

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Loading the data
</h2><br>
</div>

To see a method's documentation, you can use the help function. In Jupyter, you can also just put a question mark before the method.

In [8]:
pd.read_csv

<function pandas.io.parsers.readers.read_csv(filepath_or_buffer: 'FilePath | ReadCsvBuffer[bytes] | ReadCsvBuffer[str]', *, sep: 'str | None | lib.NoDefault' = <no_default>, delimiter: 'str | None | lib.NoDefault' = None, header: "int | Sequence[int] | None | Literal['infer']" = 'infer', names: 'Sequence[Hashable] | None | lib.NoDefault' = <no_default>, index_col: 'IndexLabel | Literal[False] | None' = None, usecols: 'UsecolsArgType' = None, dtype: 'DtypeArg | None' = None, engine: 'CSVEngine | None' = None, converters: 'Mapping[Hashable, Callable] | None' = None, true_values: 'list | None' = None, false_values: 'list | None' = None, skipinitialspace: 'bool' = False, skiprows: 'list[int] | int | Callable[[Hashable], bool] | None' = None, skipfooter: 'int' = 0, nrows: 'int | None' = None, na_values: 'Hashable | Iterable[Hashable] | Mapping[Hashable, Iterable[Hashable]] | None' = None, keep_default_na: 'bool' = True, na_filter: 'bool' = True, verbose: 'bool | lib.NoDefault' = <no_default>, skip_blank_lines: 'bool' = True, parse_dates: 'bool | Sequence[Hashable] | None' = None, infer_datetime_format: 'bool | lib.NoDefault' = <no_default>, keep_date_col: 'bool | lib.NoDefault' = <no_default>, date_parser: 'Callable | lib.NoDefault' = <no_default>, date_format: 'str | dict[Hashable, str] | None' = None, dayfirst: 'bool' = False, cache_dates: 'bool' = True, iterator: 'bool' = False, chunksize: 'int | None' = None, compression: 'CompressionOptions' = 'infer', thousands: 'str | None' = None, decimal: 'str' = '.', lineterminator: 'str | None' = None, quotechar: 'str' = '"', quoting: 'int' = 0, doublequote: 'bool' = True, escapechar: 'str | None' = None, comment: 'str | None' = None, encoding: 'str | None' = None, encoding_errors: 'str | None' = 'strict', dialect: 'str | csv.Dialect | None' = None, on_bad_lines: 'str' = 'error', delim_whitespace: 'bool | lib.NoDefault' = <no_default>, low_memory: 'bool' = True, memory_map: 'bool' = False, float_precision: "Literal['high', 'legacy'] | None" = None, storage_options: 'StorageOptions | None' = None, dtype_backend: 'DtypeBackend | lib.NoDefault' = <no_default>) -> 'DataFrame | TextFileReader'>

To load the dataframe we are using in this notebook, we will provide the path to the file: ../data/Penguins/penguins.csv

*italicized text*>Load the dataframe, read it into a pandas DataFrame and assign it to df

In [20]:
pd.read_csv('data/Penguins/penguins.csv')

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
350,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
351,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
352,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
353,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
354,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [23]:
!cat solutions/02_02.py

df = pd.read_csv("../data/Penguins/penguins.csv")

**To have a look at the first 5 rows of df, we can use the *head* method.**

In [11]:
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN

>Have a look at the last 3 rows of df using the tail method

In [12]:
df.tail(3)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
352,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
353,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
354,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [15]:
!cat solutions/02_03.py

df.tail(3)

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
General information about the dataset
</h2><br>
</div>

**To get the size of the datasets, we can use the *shape* attribute.**  
The first number is the number of row, the second one the number of columns

>Show the shape of df (do not put brackets at the end)

In [ ]:
# !cat solutions/02_04.py

>Get the names of the columns and info about them (number of non null and type) using the info method.

In [ ]:
# !cat solutions/02_05.py

>Get the columns of the dataframe using the columns attribute.

In [ ]:
# !cat solutions/02_06.py

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Display settings
</h2><br>
</div>

We can check the display option of the notebook.

In [ ]:
pd.options.display.max_rows

>Force pandas to display 25 rows by changing the value of the above.

In [ ]:
# !cat solutions/02_07.py

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Subsetting data
</h2><br>
</div>

We can subset a dataframe by label, by index or a combination of both.  
There are different ways to do it, using .loc, .iloc and also [].  
See [documentation ](https://pandas.pydata.org/pandas-docs/stable/indexing.html).

>Display the 'bill_length_mm' column

In [ ]:
# !cat solutions/02_08.py

*Note:* We could also use `df.bill_length_mm`, but it's not the greatest idea because it could be mixed with methods and does not work for columns with spaces.

>Have a look at the 12th observation:

In [ ]:
# using .iloc (uses positions, "i" stands for integer)

In [ ]:
# !cat solutions/02_09.py

In [ ]:
# using .loc (uses indexes and labels)

In [ ]:
# !cat solutions/02_10.py

>Display the **bill_length_mm** of the last three observations.

In [ ]:
# using .iloc

In [ ]:
# !cat solutions/02_11.py

In [ ]:
# using .loc

In [ ]:
# !cat solutions/02_12.py

And finally look at the **flipper_length_mm** and **body_mass_g** of the 146th, the 8th and the 1rst observations:

In [ ]:
# using .iloc

In [ ]:
# !cat solutions/02_13.py

In [ ]:
# using .loc

In [ ]:
# !cat solutions/02_14.py

**!!WARNING!!**  Unlike Python and ``.iloc``, the end value in a range specified by ``.loc`` **includes** the last index specified.

In [ ]:
df.iloc[5:10]

In [ ]:
df.loc[5:10]

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Filtering data on conditions
</h2><br>
</div>

**We can also use condition(s) to filter.**  
We want to display the rows of df where **body_mass_g** is greater than 4000. We will start by creating a mask with this condition.

In [ ]:
mask_PW = df['body_mass_g'] > 4000
mask_PW

Note that this return booleans. If we pass this mask to our dataframe, it will display only the rows where the mask is True.

In [ ]:
df[mask_PW]

>Display the rows of df where **body_mass_g** is greater than 4000 and **flipper_length_mm** is less than 185.

In [ ]:
# !cat solutions/02_15.py

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Values
</h2><br>
</div>

We can get the number of unique values from a certain column by using the `nunique` method.

For example, we can get the number of unique values from the species column:

In [ ]:
df['species'].nunique()

We can also get the list of unique values from a certain column by using the `unique` method.
>Return the list of unique values from the species column

In [ ]:
# !cat solutions/02_16.py

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Null Values and NaN
</h2><br>
</div>

When you work with data, you will quickly learn that data is never "clean". These values are usually referred to as null value. In computation it is best practice to define a "special number" that is "**N**ot **a** **N**umber" also called NaN.

We can use the `isnull` method to know if a value is null or not. It returns boolean values.

In [ ]:
df['flipper_length_mm'].isnull()

**We can apply different methods one after the other.**.  
For example, we could apply to method `sum` after the method `isnull` to know the number of null observations in the **flipper_length_mm** column.
>Get the total number of null values for **flipper_length_mm**.

In [ ]:
# !cat solutions/02_17.py

To get the count of the different values of a column, we can use the `value_counts` method.

For example, for the species column:

In [ ]:
df['species'].value_counts()

If we want to know the count of NaN values, we have to pass the value `False` to the parameter **dropna** (set to `True` by default).
> Return the proportion for each sex, including the NaN values."

In [ ]:
# !cat solutions/02_18.py

To get the proportion instead of the count of these values, we have to pass the value `True` to the parameter **normalize**.
>Return the proportion for each species.

In [ ]:
# !cat solutions/02_19.py

>Using the index attribute, get the indexes of the observation without **flipper_length_mm**

In [ ]:
# !cat solutions/02_20.py

Use the **[dropna](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html)** method to remove the row which only has NaN values.
>Get the help for the dropna method.

In [ ]:
# !cat solutions/02_21.py

>Use the dropna method to remove the row of `df` where all of the values are NaN, and assign it to `df_2`.

In [ ]:
# !cat solutions/02_22.py

We can use a f-string to format a string. We have to write a `f` before the quotation mark, and write what you want to format between curly brackets.

In [ ]:
print(f'shape of df: {df.shape}')

> Print the number of rows of `df_2` using a f_string. Did we lose any rows between `df` and `df_2`? If not, why not?

In [ ]:
# !cat solutions/02_23.py

>Use the dropna method to remove the rows of `df_2` which contains any NaN values, and assign it to `df_3`

In [ ]:
# !cat solutions/02_24.py

>Print the number of rows of `df_3` using a f_string.

In [ ]:
# !cat solutions/02_25.py

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Duplicates
</h2><br>
</div>

>Remove the duplicates rows from `df_3`, and assign the new dataframe to `df_4`

In [ ]:
# !cat solutions/02_26.py

In [ ]:
# checking the shape of df_4
df_4.shape

You should see that 4 rows have been dropped.

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Some stats
</h2><br>
</div>

>Use the describe method to see how the data is distributed (numerical features only!)

In [ ]:
# !cat solutions/02_27.py

We can also change the **species** column to save memory space. Note: You may receive a **SettingWithCopyWarning** - you can safely ignore this error for this notebook.

In [ ]:
df_4['species'] = df_4['species'].astype('category')

>Using the dtypes attribute, check the types of the columns of `df_4`

In [ ]:
# !cat solutions/02_28.py

We can also use the functions count(), mean(), sum(), median(), std(), min() and max() separately if we are only interested in one of those.

>Get the minimum for each numerical column of `df_4`

In [ ]:
# !cat solutions/02_29.py

>Calculate the maximum of the **flipper_length_mm**

In [ ]:
# !cat solutions/02_30.py

We can also get information for each species using the `groupby` method.


> Get the median for each **species**.

In [ ]:
# !cat solutions/02_31.py

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Saving the dataframe as a csv file
</h2><br>
</div>

>Save df_4 using this path: `'data/Penguins/my_penguins.csv'`

In [ ]:
# !cat solutions/02_32.py